@model DbActor
@{
    ViewData["Title"] = Model == null ? "Ошибка!" : Model.FirstName;
}

@if (Model == null)
{
    <h2>Ошибка! Актер не найден.</h2>
}
else
{
    <h3><img src="ActorImage?id=@Model.Id" /></h3>
    <h2>@Model.FirstName @Model.LastName</h2>
    <h3>@Model.Dob.ToString("dd.MM.yyyy")</h3>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
        <tr>
            <td>Фильм</td>
            <td>Должность</td>
            <td>Описание</td>
        </tr>
        </thead>
        @if (Model.Works != null)
        {
            foreach (var work in Model.Works)
            {
                <tr>
                    <td><a href="Film?id=@work.Film.Id">@work.Film.Name (@work.Film.Year.ToString("yyyy"))</a></td>
                    <td>@work.Position</td>
                    <td>@work.Discription</td>
                </tr>
            }
        }
    </table>
}


